<table class="table table-bordered table-hover">
  <thead class="thead-light">
    <tr>
      <th> Doador(es) </th>
      <th> Valor </th>
    </tr>
  </thead>
  <tbody>
    <% @project.donations.each do |pr| %>
      <tr>
        <td> <%= pr.user.try(:email) %> </td>
        <td> <%= "R$ #{pr.value_donation}" if pr.value_donation? %> </td>
      </tr>
    <% end %>
  </tbody>
</table>