<table class="table table-bordered table-hover">
  <thead class="thead-light">
    <tr>
      <th> Doador(es) </th>
      <th> Valor </th>
    </tr>
  </thead>
  <tbody>
    <% @project.donations.each do |pr| %>
      <% unless pr.value_donation.nil?  %>
        <tr>
          <td> <%= pr.user.try(:username) %> </td>
          <td> <%= "R$ #{pr.value_donation}" %> </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>