<h1>New Project</h1>

<%= render 'form', project: @project %>

<div class="container">
  <div class="row mt-5">
    <div class="col-3">
      <%= link_to 'Home', projects_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>